.foto{
    padding: 0.5em;
    border-radius: 5px; 
}

.centralizar{
    text-align: center;
}

.botoes{
    text-align: center;

    .icon{
        padding: 4%;
    }
}   

.botaoSelect{
    margin-left: auto;
    margin-right: auto;
}
