<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab-home">
      <ion-icon name="home" class="larger"></ion-icon>
      <!-- <ion-label>Home</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab-novoChamado">
      <ion-icon name="add-circle" class="larger"></ion-icon>
      <!-- <ion-label>Nova Ocorrência</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab-configuracao">
      <ion-icon name="settings" class="larger"></ion-icon>
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>

    <ion-tab-button tab="tab-info">
      <ion-icon name="information-circle" class="larger"></ion-icon>
      <!-- <ion-label>Tab Three</ion-label> -->
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
