.welcome-card ion-img {
  max-height: 35vh;
  overflow: hidden;
}

.larger{
  font-size: 2em;
  float: right;
  display: block;
}

.badge{
  margin: 0 auto;
  font-size: 0.7em;
}

.new{
  padding: 0.5em 0 2em 1em;
}

.range{
  padding: 0 0 2em 4.2em;
}

// .botaoEnviar{
//   float: right;
//   padding: 0 -10px 2em -0.3em;
// }

